<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Westa. Home List</title>
  <link rel="shortcut icon" href="img/favicon.png" th:href="@{/img/favicon.png}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
  <link href="css/bootstrap.min.css" th:href="@{/cssold/bootstrap.min.css}" rel="stylesheet">
  <link href="css/jquery.bxslider.css" th:href="@{/css/jquery.bxslider.css}" rel="stylesheet">
  <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
  <body>
     <nav th:replace="common/blog :: top"></nav>
    <header th:replace="common/blog :: header"></header>
    <section th:replace="common/blog :: section"></section>
    <main>
      <div class="container">
        <div class="col-md-9  container--grid">
          <div class="row">
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Inspiration</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">Why Glass Had Been So Popular Till Now?</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 16, 2018</span>
                  <span><a href="#">1 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img0.jpg" alt="Why Glass Had Been So Popular Till Now?"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Journey</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">All You Need To Know About Forest</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 10, 2018</span>
                  <span><a href="#">0 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img2.jpg" alt="All You Need To Know About Forest"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Lifestyle</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">Fall In Love With Cat</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 14, 2018</span>
                  <span><a href="#">3 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img1.jpg" alt="Fall In Love With Cat"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Lifestyle</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">Skills That You Can Learn From Book</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 7, 2018</span>
                  <span><a href="#">2 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img3.jpg" alt="Skills That You Can Learn From Book"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Inspiration</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">How To Get People To Like Cafe</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 5, 2018</span>
                  <span><a href="#">2 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img4.jpg" alt="How To Get People To Like Cafe"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Lifestyle</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">The Shocking Revelation of Books</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>November 3, 2018</span>
                  <span><a href="#">0 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img5.jpg" alt="The Shocking Revelation of Books"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Inspiration</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">How Pen Can Ease Your Pain</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>October 27, 2018</span>
                  <span><a href="#">2 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img6.jpg" alt="How Pen Can Ease Your Pain"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6  col-md-6  blog-post  blog-post--grid">
              <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                  <span><a href="#">Lifestyle</a></span>
                </div>
                <div class="blog-post__title">
                  <h2><a href="single-post.html">7 Quick Tips For Coffee</a></h2>
                </div>
                <div class="blog-post__info">
                  <span>By <a href="#">Westa</a></span>
                  <span>October 25, 2018</span>
                  <span><a href="#">0 Comments</a></span>
                </div>
              </div>
              <div class="blog-post__image">
                <a href="single-post.html"><img src="img/img7.jpg" alt="7 Quick Tips For Coffee"></a>
              </div>
              <div class="blog-post-wrapper">
                <div class="blog-post__content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                </div>
                <div class="blog-post__footer">
                  <a class="blog-post__footer-link" href="single-post.html">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <nav class="blog-pagination">
            <ul class="blog-pagination__items">
              <li class="blog-pagination__item  blog-pagination__item--active">
                <a>1</a>
              </li>
              <li class="blog-pagination__item">
                <a href="#">2</a>
              </li>
              <li class="blog-pagination__item">
                <a href="#">Next Page</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3  sidebar  sidebar--right">
          <div class="sidebar-widget">
            <h3>About Me</h3>
            <div class="sidebar-widget__about-me">
              <div class="sidebar-widget__about-me-image">
                <img src="img/about-me.jpg" alt="About Me">
              </div>
              <p>Duis pretium convallis odio non varius. Nulla quis lorem metus.</p>
              <span class="sidebar-widget__about-me-link">
                <a href="about.html">Read More</a>
              </span>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Follow Me</h3>
            <div class="sidebar-widget__follow-me">
              <div class="sidebar-widget__follow-me-icons">
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-pinterest"></use>
                  </svg>
                </a>
                <a href="#">
                  <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar-widget">
            <div class="sidebar-widget__banner">
              <a href="#"><img src="img/banner.jpg" alt="Banner"></a>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Popular Posts</h3>
            <div class="sidebar-widget__popular">
              <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="img/sidebar1.jpg" alt="7 Quick Tips For Coffee"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>November 15, 2018</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">7 Quick Tips For Coffee</a>
                  </div>
                </div>
              </div>
              <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="img/sidebar2.jpg" alt="The Shocking Revelation of Books"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>November 11, 2018</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">The Shocking Revelation of Books</a>
                  </div>
                </div>
              </div>
              <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="img/sidebar3.jpg" alt="How Pen Can Ease Your Pain"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>October 27, 2018</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">How Pen Can Ease Your Pain</a>
                  </div>
                </div>
              </div>
              <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="img/sidebar4.jpg" alt="Why Is Guitar So Famous?"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>October 15, 2018</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">Why Is Guitar So Famous?</a>
                  </div>
                </div>
              </div>
              <div class="sidebar-widget__popular-item">
                <div class="sidebar-widget__popular-item-image">
                  <a href="single-post.html"><img src="img/sidebar5.jpg" alt="How To Get People To Like Cafe"></a>
                </div>
                <div class="sidebar-widget__popular-item-info">
                  <div class="sidebar-widget__popular-item-date">
                    <span>October 9, 2018</span>
                  </div>
                  <div class="sidebar-widget__popular-item-content">
                    <a href="single-post.html">How To Get People To Like Cafe</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Tag Cloud</h3>
            <div class="sidebar-widget__tag-cloud">
              <a href="#">Travel</a>
              <a href="#">Music</a>
              <a href="#">Arts</a>
              <a href="#">Creative</a>
              <a href="#">Fashion</a>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Instagram</h3>
            <div class="sidebar-widget__instagram">
              <a href="#"><img src="img/instagram1.jpg" alt="Instagram"></a>
              <a href="#"><img src="img/instagram2.jpg" alt="Instagram"></a>
              <a href="#"><img src="img/instagram3.jpg" alt="Instagram"></a>
              <a href="#"><img src="img/instagram4.jpg" alt="Instagram"></a>
            </div>
          </div>
          <div class="sidebar-widget">
            <h3>Subscribe</h3>
            <div class="sidebar-widget__subscribe">
              <p>Follow my latest news</p>
              <form action="index.html">
                <input type="text" placeholder="Your email">
                <input class="sidebar-widget__subscribe-submit" type="submit" value="Submit">
              </form>
            </div>
          </div>
          <div class="sidebar-widget">
            <div class="sidebar-slider">
              <div>
                <div class="featured-image" style="background-image:url(img/img1.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Lifestyle</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">Fall In Love With Cat</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">Read More</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
              <div>
                <div class="featured-image" style="background-image:url(img/img0.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Inspiration</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">Why Glass Had Been So Popular Till Now?</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">Read More</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
              <div>
                <div class="featured-image" style="background-image:url(img/img3.jpg);">
                  <div class="featured-image__bg"></div>
                  <div class="featured-image__content">
                    <span class="featured-image__content-category">
                      <a href="#">Lifestyle</a>
                    </span>
                    <span class="featured-image__content-title">
                      <a href="single-post.html">Skills That You Can Learn From Book</a>
                    </span>
                    <span class="featured-image__content-link">
                      <a href="single-post.html">Read More</a>
                    </span>
                  </div>
                  <a class="featured-image__overlay-link" href="single-post.html"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="common/blog :: footer"></footer>
    <div th:replace="common/blog :: search"></div>
    <div class="content-overlay"></div>
    <script src="js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="js/jquery.slicknav.min.js" th:src="@{/js/jquery.slicknav.min.js}"></script>
    <script src="js/jquery.bxslider.min.js"th:src="@{/js/jquery.bxslider.min.js}"></script>
    <script src="js/script.js" th:href="@{/js/script.js}"></script>
    <script src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
